<section class="hero is-primary">
  <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Wedding RSVP
        </h1>
        <h2 class="subtitle">
          Sapir & Amit - 21.10.2018
        </h2>
      </div>
    </div>
</section>
<div class="level"></div>
<section class="container">
  <div class="tile is-ancestor">
    <div class="tile is-9 is-parent">
      <div class="tile is-child box">
        <app-grid-container></app-grid-container>
      </div>
    </div>
    <div class="tile is-vertical is-parent">
      <div class="tile is-child box notification">
          <div style="display: block;">
              <canvas baseChart
                [labels]="['Attending', 'Not responding', 'Not Coming']"
                [data]="[350, 450, 100]"
                [legend]="true"
                [width]="400"
                [chartType]="'doughnut'">
              </canvas>
          </div>
      </div>
      <div class="tile is-child box notification">
          <div style="display: block;">
              <canvas baseChart
                [labels]="['Attending', 'Not responding', 'Not Coming']"
                [data]="[350, 450, 100]"
                [legend]="true"
                [width]="400"
                [chartType]="'pie'">
              </canvas>
          </div>
      </div>
      <div class="tile is-child box notification">
          <div style="display: block;">
              <canvas baseChart
                [labels]="['Attending', 'Not responding', 'Not Coming']"
                [data]="[250, 450, 200]"
                [legend]="true"
                [width]="400"
                [chartType]="'polarArea'">
              </canvas>
          </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Wedding RSVP</strong> by Amit Shlomovits.
      </p>
    </div>
  </footer>
